version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/code/src/AttendeeSite"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "automerge"